.fallback {
  position: absolute;
  overflow: hidden;
  background: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.loader {
  width: 150px;
}

.text {
  text-align: center;
  color: white;
  font-weight: 200;
  font-size: 40px;
  font-family: Awakening;
}

.progress {
  color: white;
  font-family: Noto;
}

.loadingBar {
  height: 2px;
  width: 100%;
  background: #fff;
  margin: 10px 0px;
  transform-origin: top left;
}
@media only screen and (max-width: 600px) {
  .text {
    font-size: 30px;
  }
}
