.fallback {
  position: absolute;
  overflow: hidden;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.loader {
  width: 150px;
}

h1 {
  color: white;
  font-weight: 200;
  font-size: 40px;
}

span {
  color: white;
}

.loadingBar {
  height: 2px;
  width: 100%;
  background: #fff;
  margin-bottom: 10px;
  transform-origin: top left;
}
