.html-wrapper {
  width: 750px !important;
}

.container {
  margin: 0 auto;
  display: flex;
  position: absolute;
}
.section_1 {
  bottom: 30%;
  left: 20%;
  align-items: flex-end;
}
.text1 {
  font-size: 48px;
  line-height: 70px;
  font-family: "Anton", sans-serif;
  color: #626262;
}

.text2 {
  font-family: "Anton", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 100px;
  margin: 0;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.section_2 {
  align-items: flex-start;
  top: 30%;
  display: flex;
  flex-direction: column;
}
.line {
  position: absolute;
  width: 667px;
  height: 6px;
  background: #ee694f;
}
.text3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;

  color: #ffffff;
}

.text4 {
  font-family: "Anton", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 86px;
  line-height: 100px;
  letter-spacing: -0.01em;
  color: #ffffff;
  margin-top: 40px;
  background: #ee694f;
  padding: 20px;
}

@media only screen and (max-width: 700px) {
  .text1 {
    font-size: 32px;
    line-height: 50px;
  }
  .text2 {
    font-size: 48px;
    line-height: 50px;
  }

  .text3 {
    font-size: 32px;
    line-height: 50px;
  }
  .line {
    width: 400px;
  }
  .text4 {
    margin-top: 20px;
    font-size: 48px;
    line-height: 50px;
  }
}
