.panel {
  position: absolute;
  z-index: 2;
  width: 100%;
  bottom: 2vh;
  font-family: "Noto Sans Mono", monospace;
  overflow: hidden;
}
.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.option {
  display: flex;
  align-items: center;
  width: 7vw;
  padding: 10px;
  cursor: pointer;
  flex-direction: column;
}

.name {
  text-transform: capitalize;
  color: #fff;
  white-space: nowrap;
}

.planet {
  height: 100%;
  width: 100%;
}

.active {
  transform: scale(1.2) !important;
}

.subPanel {
  position: absolute;
  z-index: 20;
  top: 5vh;
  left: 2vw;
}
.subOption {
  display: flex;
  align-items: center;
  width: 5vw;
  padding: 10px;
  cursor: pointer;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .panel {
    width: 100%;
    height: auto;
    bottom: 5vh;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .container {
    flex-direction: row;
    justify-content: flex-start;
  }
  .option {
    flex-direction: column;
    text-align: center;
    width: 100px;
    height: 100%;
  }
  .planet {
    width: 100%;
  }
  .name {
    font-size: 12px;
  }
  .subOption {
    width: 15vw ;
  }
}
